@import 'tailwindcss';

@theme {
    --default-font-family: 'Poppins', sans-serif;

    --color-blue: #295F98;

    --breakpoint-sm: 1rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;
}

@utility nav-link {
    color: white;
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    
    @media (max-width: 48rem) { /* sm */
    padding: 0.5rem 1rem;    
    justify-content: center;
    }

    @media (max-width: 64rem) { /* md */
    padding: 0.5rem 1rem;    
}

    &:hover {
        color: #bfdbfe;
        background-color: #3E6FA2;
    }
}
