@import 'tailwindcss';

@theme {
    --default-font-family: 'Poppins', sans-serif;

    --color-blue: #295F98;
    --color-green: #0C5A48;
    --breakpoint-sm: 1rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;
}

@layer components {
    .nav-link {
        color: white;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 2rem;
        position: relative;
        transition: color 0.2s ease-in-out;

        @media (max-width: 48rem) {
            padding: 0.5rem 1rem;
            justify-content: center;
        }

        &:hover,
        &.active {
            color: #bfdbfe;
        }
    }
}

@layer components {
    .title {
        font-weight: bold;
        color: #242424;
        font-size: 47px;
    }
}